extends /layouts/_default

block content
  #container
    h2 What's the forecast?
    h2 Enter your guess:
    form(name="game")
      input(type="tel", name="yourGuess", placeholder="Your Guess", id="guess")
      br
      input(type="submit", id="submit") Submit
    h3#reply
    h4#reply-2
    button(id="newGame") Play A New Round?
    ul.list-of-answers
